@model ContactsWebApp.Models.Contact?

@using (Html.BeginForm("SaveChange", "Home", Model))
{
    <div class="right-control-class">

        <div class="edit-contact">
            <input hidden value="@Model.Id" asp-for="Id"/>
            <div class="outer">
                @Html.LabelFor(model => model.LastName, new {Class="label-class"})
                @Html.EditorFor(model => model.LastName)
                @Html.ValidationMessageFor(model => model.LastName)
            </div>

            <div class="outer">
                @Html.LabelFor(model => model.FirstName, new {Class="label-class"})
                @Html.EditorFor(model => model.FirstName)
                @Html.ValidationMessageFor(model => model.FirstName)
            </div>

            <div class="outer">
                <label class="label-class">Birthday:</label>
                <input type="date" class="input" value="@Model?.Birthday?.ToString("yyyy-MM-dd")" asp-for="Birthday" />
                @Html.ValidationMessageFor(model => model.Birthday)
            </div>

            <div class="outer">
                @Html.LabelFor(model => model.PhoneNumber, new {Class="label-class"})
                @Html.EditorFor(model => model.PhoneNumber)
                @Html.ValidationMessageFor(model => model.PhoneNumber)
            </div>

            <div class="outer">
                @Html.LabelFor(model => model.Email, new {Class="label-class"})
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="outer">
                @Html.LabelFor(model => model.VkId, new {Class="label-class"})
                @Html.EditorFor(model => model.VkId)
                @Html.ValidationMessageFor(model => model.VkId)
            </div>
        </div>

    </div>

    <input type="submit" value="Save" />
}

@using (Html.BeginForm("CancelChange", "Home"))
{
    <input type="submit" value="Cancel" />
}