@model ContactsWebApp.Models.MainViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>

    <div class="selecting-contact">
        <div class="outer">
            <label class="label-class">Find:</label>
            <input class="input"/>
        </div>

        <p>
            <select id="SelectionContact" class="select-controls" size="12" onchange="SelectedChanged()">
                @foreach (var item in Model.Contacts)
                {
                    <option id="@item.Id">
                        @item.FirstName @item.LastName
                    </option>
                }
            </select>
        </p>

        <p>
            <button onclick="location.href='@Url.Action("AddContact", "Home")'">Add</button>
            <button onclick="EditContact()">Edit</button>
            <button onclick="RemoveContact()">Remove</button>
        </p>
    </div>

    <div class="right-control-class">
        <div class="selected-contact">

            <div class="outer">
                <label class="label-class">Last Name:</label>
                <input class="input" id="LastName" value="@Model.SelectContact?.LastName" />
            </div>

            <div class="outer">
                <label class="label-class">First Name:</label>
                <input class="input" id="FirstName" value="@Model.SelectContact?.FirstName" />
            </div>

            <div class="outer">
                <label class="label-class">Birthday:</label>
                <input type="date" class="input" id="Birthday" value="@Model.SelectContact?.Birthday" />
            </div>

            <div class="outer">
                <label class="label-class">Phone:</label>
                <input class="input" id="PhoneNumber" value="@Model.SelectContact?.PhoneNumber" />
            </div>

            <div class="outer">
                <label class="label-class">E-mail:</label>
                <input class="input" id="Email" value="@Model.SelectContact?.Email" />
            </div>

            <div class="outer">
                <label class="label-class">vk.com:</label>
                <input class="input" id="VkId" value="@Model.SelectContact?.VkId" />
            </div>

        </div>

        <div class="birthday-div">
            <div>
                <label style="font-weight: bold">Birthday:</label>
                <br/>
                @foreach (var item in Model.BirthdayContacts)
                {
                    <label>@item.FirstName @item.LastName</label>
                    <br/>
                }
            </div>
        </div>

    </div>

</div>